node_modules
dist
release
src-tauri/target
src-tauri/gen/schemas

*.db
*.db-journal
*.db-wal
*.db-shm

.env
.env.*
!.env.example

*.log
*.tsbuildinfo
*.local

.DS_Store
Thumbs.db
Desktop.ini
.vscode/*
!.vscode/extensions.json
.idea/
